<extend name="common" />
<block name="nav">
    <div class="row no-gutter">
        <div class="col-100 ui-border navpre cate">添加分类</div>
    </div>
</block>
<block name="body">
    <div class="weui_cell weui_vcode" id="category" style="display:none;">

        <div class="weui_cell_ft submit"> <img src="/Public/index/images/sub.png"> </div>
    </div>
    <volist name="category" id="vo">
        <div class="weui_cell">
        <div class="weui_cell_hd"><img src="/Public/index/images/cate/<?php echo rand(1,11); ?>.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
        <div class="weui_cell_bd weui_cell_primary">
            <p id="body{$vo.id}">{$vo.name}</p>
        </div>
        <div class="weui_cell_ft edit{$vo.id}"><span onclick="edit({$vo.id})">修改</span> | <span onclick="del({$vo.id})">删除</span></div>
    </div>
    </volist>
    <div class="dialog" id='dialog' style="display:none;">
        <div class="d-box">
            <div onclick="$('#dialog').hide();" class="d-close">X</div>
            <div class="weui_cell_bd weui_cell_primary" style="height:auto; display: block; overflow: hidden; background-color: #fff;">
                <div>
                    <input class="weui_input" name="category" type="text" placeholder="请输入分类名称" style="width: 80%; margin-top: 20px; border: 1px solid #ccc;height: 40px;">
                    <div class="weui_btn_area">
                        <a class="weui_btn weui_btn_primary submit" href="javascript:" id="showTooltips">确定</a>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function edit(key){
            $('#body'+key).html('<input type="text" name="category" id="text'+key+'" class="weui_input" value="'+$('#body'+key).text()+'" />');
            $('.edit'+key).html('<a class="weui_btn weui_btn_primary" onclick="sub('+key+')" href="javascript:" style="font-size: 10px; line-height: 25px;">确定</a> ');
            $('#text'+key).focus().val($('#text'+key).val());
        }
        function sub(id){
            var cate = $('#text'+id).val();
            if (cate == null || cate == undefined || cate == '') {
                layer.msg('分类名不能为空！')
            }else{
                layer.load();
                $.post("{:U('Index/cateedit')}",
                {
                    category:cate,
                    id:id
                },
                function(data,status){
                    if(data==1){
                        layer.closeAll('loading');
                        layer.msg('修改成功');
                        setTimeout(function(){
                            window.location.reload();
                        },1200)
                    }else if(data==0){
                        layer.msg('修改失败');
                        layer.closeAll('loading');

                    }else if(data==2){
                        layer.msg('该分类存在');
                        layer.closeAll('loading');
                    }
                });
            }
        }
        function del(id){
            if (id == null || id == undefined || id == '') {
                layer.msg('数据错误！');
            }else{
                layer.confirm('你确定删除该数据吗', {
                    btn: ['确定','取消'] //按钮
                }, function(){
                    layer.load();
                    $.post("{:U('Index/catedel')}",
                    {
                        id:id
                    },
                    function(data,status){
                        layer.closeAll('loading');
                        if(data==1){layer.msg('删除成功');setTimeout(function(){window.location.reload();},1200)}else{layer.msg('删除失败')}
                    });
                }, function(){

                });
            }
        }
    </script>
</block>
<block name="js">
    <script type="text/javascript">
        $(function() {
            $('.cate').click(function () {
//                $('#category').toggle();
                $('#dialog').show();
            })
            $('.submit').click(function () {
                layer.load();
                var cate = $("input[name=category]").val();
                if (cate == null || cate == undefined || cate == '') {
                    layer.msg('分类名不能为空！')
                } else {
                    $.post("{:U('Index/category')}",
                    {
                        category:$("input[name=category]").val()
                    },
                    function(data,status){
                        if(data==1){
                            layer.closeAll('loading');
                            layer.msg('添加成功');
                            setTimeout(function(){
                                window.location.reload();
                            },1200)
                        }else if(data==0){
                            layer.msg('添加失败');
                            layer.closeAll('loading');

                        }else if(data==2){
                            layer.msg('该分类存在');
                            layer.closeAll('loading');
                        }
                    });
                }
            })
        });
    </script>
    <style type="text/css">
        .weui_cell{border-bottom: 1px solid #ccc;}
    </style>
</block>